@import '~styles/utils.scss';

.NotFoundWrapper {
  width: 100%;
  height: calc(100vh - 8rem);
  // height: calc(100vh);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 900;
  color: white;
}
