@import '~styles/utils.scss';

.Pager {
  color: white;

  width: 600px;
  margin-bottom: 1rem;

  display: flex;

  .PerPage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Selector {
      width: 100px;
      background: $oc-gray-6;
      outline: none;
      border: 1px solid $oc-gray-3;
      font-size: 1rem;
      text-align: center;

      .Item {
        &.visible {
          display: block;
        }
        display: none;
      }
    }

    .PerPageItems {
      cursor: pointer;
      position: absolute;
      bottom: 50px;
      z-index: 40;

      border: 1px solid $oc-gray-3;

      &.visible {
        display: block;
      }

      display: none;

      .Item {
        width: 100px;
        background: $oc-gray-6;
        outline: none;

        font-size: 1rem;
        text-align: center;

        &:hover {
          background: $oc-gray-7;
        }
      }

      .Item + .Item {
        border-top: 1px solid $oc-gray-3;
      }

      @include media('height<784px') {
        display: none;
      }
    }
  }

  .PagerButton {
    cursor: pointer;

    display: flex;
    align-items: center;
    border-radius: 2px;

    background: $oc-gray-9;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &:hover {
      background: $oc-gray-7;
    }

    &:active {
      background: $oc-gray-9;
    }

    &.Next {
      margin-left: auto;
    }

    &.disabled {
      background: $oc-gray-3;
      color: black;
    }
  }

  // .PagerButton .disabled {
  //   background: $oc-gray-3;
  //   color: black;
  // }
}
