@import '~styles/utils.scss';

.TitleWrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 400px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;

  border: 1px solid white;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
